
body{
    background-image: url(../images/Default_books_2.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.registration-form {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255,.5);
    border-radius: 10px;
  }
  
  .registration-form h2 {
    margin-bottom: 20px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-form input[type="text"]:focus,
  .registration-form input[type="email"]:focus,
  .registration-form input[type="password"]:focus {
    outline: none;
    border-color: #555;
  }
  
  .registration-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(1, 42, 74, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #555;
  }