
body{
    background-image: url(../images/Default_books_2.jpg);
    display: flex;
    flex-direction: column;
    min-height: 1080px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.registration-form {
    max-width: 20em;
    padding: 1.25em;
    background-color: rgba(255, 255, 255,.5);
    border-radius: 0.625em;
  }
  
  .registration-form h2 {
    margin-bottom: 1.25em;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 0.3125em;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"] {
    width: 100%;
    padding: 0.625em;
    margin-bottom: 0.625em;
    border: 1px solid #ccc;
    border-radius: 0.3125em;
  }
  
  .registration-form input[type="text"]:focus,
  .registration-form input[type="email"]:focus,
  .registration-form input[type="password"]:focus {
    outline: none;
    border-color: #555;
  }
  
  .registration-form button {
    display: block;
    width: 100%;
    padding: 0.625em;
    background-color: rgba(1, 42, 74, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #555;
  }