html {
    background-color: rgb(247, 247, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

* {
    box-sizing: border-box;
}
   
.nav {
    height: 3.125em;
    width: 100%;
    background-color: rgba(1, 42, 74, 1);
    position: relative;
    color: white;
}
  
.nav > .nav-header {
    display: inline;
}
  
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: xx-large;
    padding: 0.625em 0.625em 0.625em 0.625em;
}
  
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 1.125em;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 0.8125em 0.625em 0.8125em 0.625em;
    text-decoration: none;
    color: white;
}
  
.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
  
.nav > #nav-check {
    display: none;
}
  
@media (max-width:37.5em) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 3.125em;
      height: 3.125em;
      padding: 0.8em;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 1.56em;
      height: 0.625em;
      border-top: 0.125em solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      text-align: center;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 3.125em;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }   
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 31.25em);
      overflow-y: auto;
    }
}

footer{
    background-color: rgb(232, 232, 232);
    padding: 2em;
}

footer p {
    margin: 0;
}