section{
    text-align: center;
}

.shopping{
    text-align: center;
    background-color: rgba(53, 67, 95, 0.73);
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
}

.shopping h2{
    font-size: 1.875em;
}

.shopping p{
    font-size: large;
}

div {
    display: block;
}

.card {
    margin: 1em;
    border-radius: 0.4375em;
    margin-bottom: 4em; 
    display: inline-block;
    width: 8em;
    background-color: white;
    box-shadow: 0.5em 0.1em 1em 0.2em rgb(194, 194, 194);
    text-align: center;
}

.header{
    margin: auto;
}
.name{
    font-weight: bolder;
    font-size: 1em;
    margin: 0.3125em;
}

.card .btn {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #012A4A;
    text-decoration: none;
    border-radius: 0.25em;
    margin-top: 0.3125em;
    margin-bottom: 0.625em;
    color: white;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
    grid-gap: 0.9375em;
    margin: 1em;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
  
}


/* div.scrollmenu { 
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu div {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
div.scrollmenu a:hover {
    background-color: #777;
} */ 